p{
  color:firebrick;
  font-family:sans-sherif;
}

h1{
  color:darkgreen;
}

h2{
  color:lightblue;
}

h3{
  color:darkorange;
}


div{
  margin:auto;
  width:480px;
}


div p{
  color:black;
  text-indent: 40px;
  font-size: 20px;
  text-align:justify;
  font-family:sans-sherif;
}


.longframe{
  width:600px;
}

.bluetext{
  color:blue;
  text-align:center;
}

.cursive{
  font-style:italic;
  text-align:initial;
}

.red{
  color:red;
}

.bold{
  font-weight:bold;
}

.green{
  color:green;
}

.big{
  font-weight:bold;
  font-size:20px;
  text-align:center;
}

ul{
  color:#6e5160;
  font-style:italic;
}


.b{
  background-color:#064E2D;
  color:#A9CDE5;
  font-size:24px;
  font-weight:bold;
  border: 3px solid #A9CDE5;
  border-radius: 24px;
  padding: 10px 24px;
}


div div{
  text-align:center;
}


.alert{
  padding:15px;
  border-radius:4px;
  font-size:16px;
  font-weight:bold;
  margin-bottom:20px;
}


.success{
  background-color:#D5E6AB;
  color:#193A3C;
}


.warning{
  background-color:#F9DD81;
  color:#AE340B;
}


.error{
  background-color:#FFDEE2;
  color:#70020F;
}

.menu{
  margin:0;
  padding:0;
  list-style-type: none;
  width:200px;
  color:#A9CDE5;
  display: block;
}


.li{
  margin-bottom:5px;
  background-color:#064E2D;
}


li a{
  color:#A9CDE5;
  text-decoration:none;
  font-weight:bold;
}











