p{
  color:firebrick;
}

h1{
  color:darkgreen;
}

h2{
  color:lightblue;
}

h3{
  color:darkorange;
}


div{
  margin:auto;
  width:370px;
}


div p{
  color:black;
  text-indent: 40px;
  font-size: 20px;
}


.longframe{}

.bluetext{
  color:blue;
  text-align:center;
}

.cursive{
  font-style:italic;
  text-align:initial;
}

.redbold{
  color:red;
  font-weight:bold;
}












