p{
  color:firebrick;
}

h1{
  color:darkgreen;
}

h2{
  color:lightblue;
}

h3{
  color:darkorange;
}


div{
  color:black;
}


.longframe{}

.bluetext{
  color:blue;
}

.cursive{
  font-style:italic;
}

.redbold{
  color:red;
  font-weight:bold;
}




